* {
    padding: 0%;
    margin: 0%;
    max-height: 100vh;
}

h1 {
    font: var(--r-heading-font);
    font-size: var(--r-heading1-size);
    color: var(--r-main-color);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    font-weight: var(--r-heading-font-weight);
    /* text-transform: var(--r-heading-text-transform); */
    text-shadow: var( --r-heading-text-shadow);
    font-weight: 550;
    display: inline-block;
}

#one {
    height: 100vh; 
    width: 100%;
    margin: 0%;
    padding: 0%;
}

 
#one .row-1
{
    display:inline-flex;
    height: 100%;
    width: 100%;
    background-color: var(--r-background-color);
}

 
#one .row-1 .col-1
{
    margin-left: 1.5em;
    flex-basis: 40%;
    margin-top: 3em;
    height: 90%;

    color: var(--r-main-color);

}


 
#one .row-1 .col-1 h1 {
    /* margin: 25px 0; */
    word-break: none;
    margin-top: .15em;
}
#one .row-1 .col-2 {
    flex-basis: 60%;
    width: 60%;
    height: 100vh;

}
 
#one .row-1 .col-2 img, #one .row-1 .col-2 video, #one .row-1 .col-2 iframe  {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100vh;
    padding: 0;
    right: 0;
    border: none;
    object-fit: cover;
}

iframe {
    filter: invert(90%) hue-rotate(180deg);
}

.text_info
{
    font-size: 40px;
    font-weight: 200;
}
 
.text_para
{
    margin-top: 2rem;
}
 
.btn, .btn-2
{
    text-decoration: none;
    display: inline-block;
    background: var(--r-main-color);
    color: var(--r-background-color);
    padding: 22px 29px;
    margin: 30px 0;
    border-radius: 9px;
    transition: ease-in-out  .5s;
}
 
.btn:hover {
    cursor: pointer;
    background-color: var(--r-link-color);
    color: var(--r-main-color);
    transition: ease-in-out .5s;
}