<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" style="max-width: 20px;" class="logo" href="/static/images/logo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img style="width: 60px;padding-bottom:5px;" class="logo" style="filter: grayscale(100%)" src="/static/images/logo.png">   
    <h1 style="font-weight:300;">Thanks For Contacting Our Team!</h1><br>          
    <h3 style="font-weight:570">We appreciate your feedback as it helps us improve our website</h3><br>
    <p>Sincerely, The Team at BabyNameAI</p>
  </body>
</html>