<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
		<title>Fact Page</title>
        {% set css_file = theme %}
        <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}" id="theme">
         <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fact_page.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map.scss') }}">
	</head>
    <body> <!-- ! make so it uses templates (extended) -->
        {% set origin = country %}
        <section id="one">              <!-- section one -->  
            {% include 'nav.html' %}        <!-- includes the navbar -->
            <div class="row-1">             <!-- row -->    
                <div class="col-1">     
                    <h1 class="text_main">{{name}}</h1><br>
                    <h1>Placement<h1 class="text_info">: {{ name_dict['rank'].strip('.0') }}</h1></h1><br> <!-- works?? -->
                    <h1>origin<h1 class="text_info">: 
                        {% if ' ' in origin %}
                            {% set origin = origin.split(' ') %}
                            {% set origin = ((origin[0][0])+(origin[1][0])) %}
                            {{ origin }}
                        {% else %}
                            {{ origin }}
                        {% endif %}
                    </h1></h1><br> <!-- correct? ???? -->
                    <h1>Gender<h1 class="text_info">: {{gender}}</h1> </h1><br>
                    <h1>Count<h1 class="text_info">: {{ (("{:,.2f}".format(name_dict['n_sum'] | float)) | string).strip('.00') }}</h1></h1><br>
                </div>
                <div class="col-2">
                    <img src={{ img }} style="display:cover;"> <!-- drone footage of the school -->
                </div>
            </div>
        </section>
        <section id="two">
            <div class="row-2">
                <div class="row-2 col-1">
                    <iframe width="100%" height="100%" controls="None" frameborder="0" scrolling="no" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{country}}&amp;key=AIzaSyAo7gc4hxFarWdZF4ArPGnGWh-vDrM2cdo"></iframe>
                </div>
                <div class="row-2 col-2">
                    <div class="content">
                        <h1>{{name}} in {{country}}</h1>
                        <p>{{text1}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="three">
            <div class="content">
                <h1>Why Would {{name}} Suit You?</h1>
                <p>{{desc}}</p>
            </div>
        </section>
        <section id="four">
            <div class="row-3">
                <div class="row-3 col-1">
                    <div class="content">
                        <!--<h1>History of {{name}}</h1>-->
                        <h1>Why is {{name}} a great Name?</h1>
                        <p>{{text2}}</p>
                    </div>
                </div>
                <div class="row-3 col-2">
                    <canvas style="height:100%;width:100%" id="line-chart"></canvas>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="content">
                <h1 style="margin-bottom:.5em">END OF PAGE</h1><br>
                <button id="btn" onclick="topFunction()">Back To Top</button>
            </div>
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
        
        <script>
            new Chart(document.getElementById("line-chart"), {
                type : 'line',
                data : {
                    labels : [ 1500, 1600, 1700, 1750, 1800, 1850,
                            1900, 1950, 1999, 2022 ],
                    datasets : [
                            {
                                data : [ 186, 205, 1321, 1516, 2107,
                                        2191, 3133, 3221, 4783, 4478 ],
                                label : "Name",
                                borderColor : "#000000",
                                backgroundColor: '#dddddd',
                                color : "#000000",
                                fill : false
                            }]
                },
                options : {
                    title : {
                        display : true,
                        text : 'Count of Name of the Years'
                    }
                }
            });

            let mybutton = document.getElementById("btn");

            function topFunction() {
                document.body.scrollTop = 0; 
                document.documentElement.scrollTop = 0; 
            }
        </script>
        <script id="rendered-js">
            
            $(document).ready(function () {
                tippy('.tippy', {
                theme: 'light',
                size: 'big',
                arrow: true });
            
            });
            //# sourceURL=pen.js
                
        </script>
        <script src="https://unpkg.com/tippy.js@1.1.3/dist/tippy.min.js"></script>
        <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    </body>
</html>