<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<div id="top" class="navbar">
    <div class="logo">
        <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></a>
    </div> 
    <nav>
        <ul>
            <li><a href="/" class="home">Home</a></li>
            <li><a href="/name finder">AI Name Finder</a></li>
            <li><a href="/boy names">Top 100 Boy Names</a></li>
            <li><a href="/girl names">Top 100 Girl Names</a></li>
            <li><a href="/about" class="about">About Us</a></li>  <!--have a map embeded here or in contact page -->
            <li><a href="/contact" class="contact">Contact Us</a></li>
        </ul>
    </nav>
</div>